{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'snippets/style.html' %}
    <title>
        {% block namaPage %}
            
        {% endblock namaPage %}    
    </title>
</head>
<body class="bg-secondary">
  {% include 'snippets/mainNavbar.html' %}
    <div class="container pt-5 pb-2 mt-5 rounded bg-light shadow-lg">
      {% block judulPage %}
        
      {% endblock judulPage %}
    
      {% block konten %}
          
      {% endblock konten %}
    </div>
    {% include 'snippets/scripts.html' %}
</body>
</html>